; {{ ansible_managed }}
;
; BIND data file for local network
;
$TTL  604800
@ IN  SOA {{ network.lan.fqdn }}. root.{{ inventory.network.lan.domain }}. (
            {{ bind_serial }}   ; Serial
       604800   ; Refresh
        86400   ; Retry
      2419200   ; Expire
       604800 ) ; Negative Cache TTL
;
; name servers - NS records
{% for host in groups['proxmox']|sort %}
     IN      NS      {{ hostvars[host].network.lan.fqdn }}.
{% endfor %}

; PTR Records
{% for host in groups['proxmox']|sort %}
{% if hostvars[host].network.lan is defined and hostvars[host].network.lan.ipv4 is defined %}
{{ hostvars[host].network.pan.ipv4.address | ipaddr('revdns') }}   IN      PTR     {{ hostvars[host].network.lan.fqdn }}.    ;  {{ hostvars[host].network.pan.ipv4.address }}
{% endif %}
{% endfor %}

{% for host in groups['storage']|default([])|sort %}
{% if hostvars[host].network.lan is defined and hostvars[host].network.lan.ipv4 is defined %}
{{ hostvars[host].network.pan.ipv4.address | ipaddr('revdns') }}   IN      PTR     {{ hostvars[host].network.lan.fqdn }}.    ;  {{ hostvars[host].network.pan.ipv4.address }}
{% endif %}
{% endfor %}

{% for host in groups['vms']|sort %}
{% if hostvars[host].network.lan is defined and hostvars[host].network.lan.ipv4 is defined %}
{{ hostvars[host].network.lan.ipv4.address | ipaddr('revdns') }}   IN      PTR     {{ hostvars[host].network.lan.fqdn }}.    ;  {{ hostvars[host].network.lan.ipv4.address }}
{% endif %}
{% endfor %}

{% for host in groups['db']|sort %}
{% if hostvars[host].network.lan is defined and hostvars[host].network.lan.ipv4 is defined %}
{{ hostvars[host].network.lan.ipv4.address | ipaddr('revdns') }}   IN      PTR     {{ hostvars[host].network.lan.fqdn }}.    ;  {{ hostvars[host].network.lan.ipv4.address }}
{% endif %}
{% endfor %}
