## {{ ansible_managed }}
# http://www.litech.org/tayga/

tun-device nat64
ipv4-addr 192.168.255.1
dynamic-pool 192.168.255.0/24

ipv6-addr {{ network.wan.ipv6.address }}00
prefix 64:ff9b::/96


data-dir /var/spool/tayga
